language: c
compiler: gcc
sudo: true
dist: trusty
services:
- docker
jobs:
  include:
  - stage: build docker image
    script:
    - export VERSION=$(cat VERSION)
    - ./build.sh -s Release
    - docker login -u=$DOCKER_USERNAME -p=$DOCKER_PASSWORD
    - docker build -t rest-server .
    - docker images
    - docker tag rest-server $DOCKER_USERNAME/rest-server:$VERSION
    - docker push $DOCKER_USERNAME/rest-server:$VERSION
  - stage: test
    script:
    - export VERSION=$(cat VERSION)
    - docker-compose --version
    - "./test.sh"
env:
  global:
  - secure: n543+YxOGgl0oAgWl4aJNQIAMplolW665KeTWhwhcE21BVSYgyJ3HZspcK7pFzLcmv7pp1mSMiAnsddHvKZCuV+AGO0HkinvHL+0nadDtz2+cxerDItmF8oknHAkxXEdwbryVo+Lu0flx2pkbOp4WQpPrP+rD/149I1xf8MR/Gj3x+bok5TtFcdJjzbL7EO+qt5EHVn68JU29XzSGxwPnPGeunjrtbRmMjroyLnzbywASLeTvRtjaB8Wj0sMPe8idFWId3WfKyjVjsyDdx483AdVNDuMZYxXbdrkw8LJFigGAGhmXqmnecQM9ORZfj/JK1nU3ShlOlMUVTkjdRHZAPJNvtWZYymg0NR3sNnDiqc9CROMjg3j9CmWKPabgNUAfzddpkAEDSDPCyp9SURQsHUegnaxU1wRS5zSH+HrZHwX+GeoRULejSgDYjO/uB56QZpUXFRGhHluHxsuoBJKJRWXlzCuoHdi8MvmwQaGzdN3VBpRkgCiKOxmd6t+r/fdkxf+MHs7PPAHUx2XANKmDQj8/McsVGlT2YCU/ht26YyBcr2jcphGCbOk3HokkfzKdeww+NZSOzBDOoZkwn9wyScOPvdk359XOo1julX7Xiqj199SmKCQGUX4e3MnTO671mEIDmserONf+QgHvjf6BSEzQykoZO4S8kkeheGE/B4=
  - secure: XI/8hy+b7r0jyMGfqZisxJw71Gk2lx24zg0Pak5sBsSndA/0BXMUATBfHBAYqs7YI7W0XNXid978tndv18NFG7JSlr80gQZ1VEWaYE+0uGRbP0j6p00yLqHrb5zC64TVYLU9BKzKLGqZi+ky1iMDJZQBdJ5PUaFBCavEAa98ZK6cL2h30sR7ZiNOh5mF2zpw3rV8CkdS9d9emvNGt3GsRZ2UPJT0/EC1Sk7PnPr31nW4yLPdpmEmky7vnsOUHAP1tqhE/wXPFYzmeF2BHVpYr3lExwmf//8ZcMCtLgHR/g6lSmG1xRG7Cbye/nRCkEBajovxlrWOj9XhF0dm+xg0Dl0cyXnFj02vlSv7bd/fJyX+air6EdO5B/K3h5vFyhgRXqY5X7QkzDLBSlrDzLw5k0PdInP+N9iqWuph09JeBF2guONlus0RgG01h7eAm94hr+JVBkSetwez8WWWQYvsGaSNJIlE+Va0yTcoYyt/iZmjZyE+QWH60xItPcIbEohOAXLwG1HI4SKcONqSLhqhDj2522vy0DpCoTiykajdI8yfJqftxDv1udgEXBaOLwXKrGMQoAOdSEN6v0S4W9MjVEy1rrOCRYmOvp+EhxHDtNjUSFZ802tjhF4wuyuViNAvzBnhze7YY9YveuYUUHVgbugJm7KgU8ElHtWUI6JzUOE=

addons:
  sonarcloud:
    organization: "kealan-github"
    token:
      secure: "im/DB+I1oNKjL9Z48ubAK0tJSD62DTOo5CAnys6cEZ41gJfjpSmamkAl/NTLCeRkSFedyq2oru2UCmNWAoDwDH3SBMKJx2S06AoUyxmUQ4k4nf6wQzMoSUX4SSi3AMUiUqBCBPEhPYUe1xXgxnIu37VCrdvgWkfszrXS0QUckgX9AJq5xtdOjr7izX9lcg2Y+agLUASR2dFla+kWxPxwzmGYfxsL/9kfYy534MjjQmu5gfW91AqDlsVAu36zYWMXp+xTdLvZo2qMN2hGEIXiMM+r/07PogEgfaG+BUbDIYekpV9+lccgm4gg8+rI3I9bKdbXpVkROiQwbc589i0asKcqPWhCFVLiol5dKIxfmIODRDW5i3uLaO6COliLCA5yqzv6P1quKiwRR4YbTZ+zxt2gaPU2M96RYt9seAnVlHVhU3K3DhFCFQ8tVY6hJZPDNQqgUhBRpmVlV4iUihSpHVNZf/omdD/JpcWwuH1TvSeCQ6iooLMVPwHfKVYWVio7aTxJVO8VKo8xE1/KzWX5jvWOSglevopiLW8Wy3UJTe1xHKkZynCYl46QcQCCn/RUMLo3U06I8Vd6Uo6u/2eqaWlJIv3NQ5cQPlJpt3tmaSWrTGK9zCV76ggWOg9H0pLwPAJmDw4pM/1miIJ6OBFB54Y1tWiPTl7uFDjEDD4TSuo="

script:
  # the following command line builds the project, runs the tests with coverage and then execute the SonarCloud analysis
  - sonar-scanner

